@page
@model OdeToFood.Pages.Restaurants.CilentRestaurantsModel
@{
    ViewData["Title"] = "CilentRestaurants";
}

<h2>Client Restaurants</h2>

@section Scripts {
    <script>
        $(function(){
            $.ajax("/api/restuarants/", 
                { method: "get"})
                .then(function(response){
                    console.dir(response);
                });
        });
    </script>
}
